.App-link {
  color: #61dafb;
}

#root,
#root > div,
#App,
#particles {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* For particle js background to work properly */
.content {
  position: relative;
}
