.App-link {
  color: #21ba45;
}

#root,
#root > div,
#App,
#particles {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* For particle js background to work properly */
.content {
  position: relative;
}
.ui.list {
  max-height: 40em;
  overflow-y: auto;
}

/* So that it appears green during transition */
.ui.toggle.checkbox.color-green input:focus:checked ~ .box:before,
.ui.toggle.checkbox.color-green input:focus:checked ~ label:before {
  background: #21ba45 !important;
}
/* So that it stays green after being checked */
.ui.toggle.checkbox.color-green input:checked ~ .box:before,
.ui.toggle.checkbox.color-green input:checked ~ label:before {
  background: #21ba45 !important;
}
